#modalSelectMembers.modal.btsp_fheader_table_container.fade{"aria-labelledby" => "myModalLabel", :role => "dialog"}
  .modal-dialog.body{:role => "document", :tabindex => "-1", style: "min-width: 1050px!important"}
    .modal-content.body.orders.custom_modal_content
      .modal-header.no_border.no_padding
        .col-lg-12.body.orders.custom_modal_header
          %h4.modal-title.form_new_edit.no-margin.hidden#specific_golfers_modal SPECIFIC MEMBERS...
          %h4.modal-title.form_new_edit.no-margin.hidden#select_by_modal SELECT BY...
      .modal-body.modal_body_finalize_demo
        .email_select_by.hidden
          -# = render partial: 'email_templates/body_select_by_members'
        .specific_golfers_align.email_select_golfers.hidden
          = render partial: 'body_specific_members'
      .modal-footer.no_border.no_padding.add_padding_top_15
        .col-lg-12.body.orders.custom_modal_footer
          .left
            %button.btn.btn-default.custom_btn{"data-dismiss" => "modal", :type => "button"} Close
          .right
            %button.btn.btn-default.custom_btn.btn_orange#mark_selected_members{"data-dismiss" => "modal", :type => "button", remote: true} Save
