= form_for([@user], html: {class: "custom_flex_fist_position", style: "height:100%"}) do |f|
  .row.custom_flex_fist_position.height_100.add-margin-all-0
    .col-lg-12.custom_table_container.height_100.btsp_ps_container.btsp_fheader_table_container#vendors_form_container
      .col-lg-12.btsp_fheader_table_container.btsp_ps_container.custom_table_container.add-margin-top-10
        .row.add-margin-all-0
          .col-lg-6
            .col-lg-6.form_size
              Name
            .col-lg-6
              .form-group
                = f.text_field :name, class: 'form-control custom_input no_color'


        .row.add-margin-all-0
          .col-lg-6
            .col-lg-6.form_size
              Email
            .col-lg-6
              .form-group
                = f.text_field :email, class: 'form-control custom_input no_color'

  .row.bottom_buttons_bar
    .col-xs-12.col-sm-12
      .btn_right.add-margin-right-0
        = f.submit yield(:button_text), class: "btn btn-default custom_btn btn_big_custom btn_orange save_btn_vendors", value: "Save"

:javascript
  window.gems.new_design_shared.applyCustomScrollbar("#vendors_form_container");
   window.gems.vendors.init();
