#modalNewManager.btsp_fheader_table_container.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog"}
  .modal-dialog.body.custom_min_width{:role => "document"}
    .modal-content.body.orders.no_border_radius
      .modal-header.no_border
        .col-lg-12.body.orders.custom_modal_header
          %h4#myModalLabelNewManager.modal-title.form_new_edit.no-margin NEW MANAGER
          %h4#myModalLabelEditManager.modal-title.form_new_edit.no-margin.hidden EDIT MANAGER
        .modal_user_body
:javascript
  window.gems.new_design_shared.applyCustomScrollbar("#modalNewManager");