.row.orders.custom_name.add-margin-top-20
  .col-xs-12.col-sm-4
    %h5.page-title
      %span
        USERS
      %span.icon-record
  .col-xs-12
    .page-title
.row
  .col-lg-12.quick_search
    -# = render partial: 'vendors_search'
.col-lg-12.custom_table_container.custom_flex_fist_position#users_index_table.btsp_ps_container.btsp_fheader_table_container
  .row
    .col-lg-12.no_padding#users_container_list
      = render partial: 'users_list', locals: {vendors: @users}
.row.bottom_buttons_bar
  .col-xs-12.col-sm-12
    .btsp_custom_tabs_menu
      .add-margin-right-0.pull-right
        = button_to  "New User", new_user_path, class:"btn btn-default btn_big_custom custom_btn btn_orange", method: :get
        -#%a{href: schedule_jobs_path(customer_id: @customer.id, type: "vendor_spreadsheet"), class:"btn btn-default btn_big_custom custom_btn btn_orange", method: :get}
        -#  Download Spreadsheet
        -#-#= button_to "Delete All", destroy_all_customer_vendors_path, "data-confirm" => "Are you sure you want to delete all vendors with no existing orders?", class:"btn btn_big_custom btn-default custom_btn", method: :get
      - if current_user.admin
        .add-margin-left-0.pull-left
          t
          -#= form_tag match_custom_fields_customer_vendors_path(customer_id: @customer.id), multipart: true do
          -#  .row
          -#    .col-lg-12
          -#      .col-lg-7
          -#        = file_field_tag :file, class: "btn btn-default custom_btn", accept: "application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
          -#      .col-lg-4.no_padding_right
          -#        -#= submit_tag "Import Spreadsheet", class: "btn btn-default custom_btn btn_orange"
          -#      .col-lg-1.no_padding.vertical_align_middle.add_padding_top_6
          -#        %i.font_size_large.white.color_wite.gga-info-circle.tooltip_info{'data-toggle' => "tooltip", "data-html" => "true", "data-container" => "body", title: "Upload a spreadsheet file (xls, xlsx) containing the list of vendor. We match columns automatically to existing custom fields or you can match manually."}
:javascript
  window.gems.vendors.init();
  window.gems.new_design_shared.applyCustomScrollbar("#vendors_index_table");
