- cache ["managers", @managers, request.original_url, @search_params] do
  .row.orders.custom_name.add-margin-top-20
    .col-xs-12.col-sm-4
      %h5.page-title
        %span
          ACCOUNT
        %span.icon-record
        %span
          MANAGERS
    .col-xs-12
      .page-title
  .row
    .col-lg-12.quick_search
      = render partial: 'users_search'    
  .col-lg-12.custom_table_container.custom_flex_fist_position#users_index_table.btsp_ps_container.btsp_fheader_table_container
    .row
      .col-lg-12.no_padding#users_table_list
        = render partial: 'users_list'
.row.bottom_buttons_bar
  .col-xs-12.col-sm-12
    .btsp_custom_tabs_menu
      .add-margin-right-0.pull-right
        = button_to  "New Manager", new_customer_user_path(@customer), class:"btn btn-default btn_big_custom custom_btn btn_orange", method: :get, remote: true
= render partial: 'modal_new_user'
:javascript
  window.gems.admin_center.init();
  window.gems.new_design_shared.applyCustomScrollbar("#users_index_table");
