
.row.orders.custom_name.add-margin-top-20
  .col-lg-12.col-xs-12
    %h5.page-title
      %span
        USERS
      %span.icon-record
      %span
        NEW USER
  .col-xs-12
    .page-title
= render partial: 'form'
