- content = flash.now[:modal] || flash[:modal] || flash[:notice] || flash[:alert] || flash[:error]
- if content.present?
  .panel.panel-default#modal-flash
    .panel-heading.title_bar
      .fa.fa-times-circle-o.delete-flash.fa-2x
    .panel-body.flash-content
      != content
    -# = link_to "OK", "#", class: "button orange btsp_orange_button modal-dismiss"