%i.font_size_large.gga-info-circle.tooltip_info.pull-right{'data-toggle' => "tooltip", "data-html" => "true", "data-container" => "body", id: "info_#{subcat[:type]}", 'title' => ""}
#wait_job
  %img{:height => "134", :src => image_path("Spinning-circle.gif"), :width => "134"}/
  = succeed "" do
    %br/

