-# = intercom_script_tag

-# = javascript_include_tag "https://d29l98y0pmei9d.cloudfront.net/js/widget.min.js?k=Y2xpZW50SWQ9Mzk1MiZob3N0TmFtZT1nb2xmZ2VuaXVzZ29sZnNob3Auc3VwcG9ydGhlcm8uaW8=", {data: {cfasync: false}}

= link_to "#support_window", id: "support_bubble" do
  .text 
    H
    .clear
    E
    .clear
    L
    .clear
    P
    .clear
    -# = fa_icon "question-circle-o"
