.col-xs-12.col-lg-12.d-flex.no_padding_top.title.previewing.background_light_grey.add_margin_top_20#title{style:"border-radius:4px"}
  .col-xs-8.col-lg-8.add-margin-top-20
    .row.editable#title_edit
      .col-xs-7.add-margin-top-10.question_title
        .input_field_form.form-group.question_title_text_form
          = f.text_field :title, value: (f.object.try(:title) || "Brosura x"), class: 'form-control custom_input', placeholder: "Enter brochure title"
    .row.preview.add_padding_left_30
      %b.add-margin-bottom-10#title_text_content #{f.object.try(:title).present? ? f.object.try(:title) : "Scenariul x"}
  .col-xs-4.col-lg-4.pull-right.add-margin-top-10
    .form-group.add-margin-top-15
      %button.pull-right.add-margin-top-10.btn_survey.btn_save.hidden#btn_save_title{type: "button", "data-type"=>"title"}
        %i.fa.fa-check.color_survey_green.add-margin-right-5
        Save
    .form-group.add-margin-top-15
      %button.pull-right.add-margin-top-10.btn_survey.btn_edit#btn_edit_title{type: "button", "data-type"=>"title"}
        %i.fa.fa-pencil.color_survey_lightskyblue.add-margin-right-5
        Edit
