.row.orders.custom_name.add-margin-top-20
  .col-xs-12.col-sm-4
    %h3.page-title
      BROSURI
  .col-xs-12
    .page-title
.col-lg-12.add_margin_top_20#survey_index_container
  - if @brochures.blank?
    Nu exista brosuri
  - else
    - @brochures.each do |brochure|
      .row.add_margin_top_10.add_padding_bottom_10.border_custom.add_padding_top_15
        .col-xs-12.col-lg-3
          %h4.bold{style: "width: 500px"}
            #{brochure.title}
        .col-xs-12.col-lg-3
          Autor
        .col-xs-12.col-lg-3
          Completari
        .col-xs-12.col-lg-2
          = link_to "", brochure_path(id: brochure.id), method: :delete, data: { confirm: "Are you sure?" }, "data-remote" => "true", class: "fa fa-trash color_red font_size_30 pull-right"

          - if brochure.sent_at.blank?
            %a.fa.fa-pencil.color_lightskyblue.font_size_30.pull-right.add_margin_right_15{href: edit_brochure_path(brochure), method: :get, "data-toggle" => "tooltip"}
          - else
            %a.fa.fa-pencil.color_lightskyblue.disabled.font_size_30.pull-right.add_margin_right_15{href: edit_brochure_path(brochure), method: :get, "data-toggle" => "tooltip"}
              %i.gga-info-circle.cursor_pointer{'data-toggle' => "tooltip", title: "Survey has already been sent and cannot be edited anymore."}
          %a.fa.fa-eye.color_purple.font_size_30.pull-right.add_margin_right_15{href: brochure_path(brochure), method: :get, "data-toggle" => "tooltip"}

.row.fixed_survey_bar.background_light_grey
  .col-xs-12.col-sm-12
    .btsp_custom_tabs_menu
    .add-margin-right-0.pull-right
      = link_to  "Brosura noua", new_brochure_path, class:"btn btn-default btn_big_custom custom_btn btn_orange"
    .add-margin-right-0.pull-left



:javascript
  window.crm.surveys.init();
  window.crm.new_design_shared.applyCustomScrollbar("#survey_index_container");
