= render partial: 'user_brochure'
- if is_admin?
  .row.fixed_survey_bar.background_light_grey
    .col-xs-12.col-sm-12
      .btsp_custom_tabs_menu
      .add-margin-right-0
        = link_to 'Back', brochures_path, class: "btn btn-default custom_btn btn_big_custom"
