.col-lg-6.add_padding_left_25
  .form-group.add_padding_left_30
    = text_field_tag '', nil, class: "free_text form-control add-margin-left-10 option_input_field_form input_field_form", disabled: true, id: "free_text_question_option_#{f.object.try(:order) || ((f.try(:index).to_i || 0) + 1)}"
