.row{style: "margin-bottom: 100px !important"}
  .col-xs-2.col-sm-2.col-md-2.col-lg-2
  .col-xs-8.col-sm-8.col-md-8.col-lg-8.no_padding.add-margin-all-0.answer_body
    .row.background_white
      .col-lg-12.col-xs-12.no_padding.add-margin-bottom-8
        %img.banner{src: @banner_url}
      .container-fluid#answer_survey_container
        .row.answer_form
          = render partial: 'surveys/answers/answer_form', locals: {questions: @questions, survey: @survey}

  .col-xs-2.col-sm-2.col-md-2.col-lg-2
.row.fixed_survey_bar.background_light_grey
  .col-xs-12.col-sm-12
    .btsp_custom_tabs_menu
    .add-margin-right-0
      %a.btn.btn-default.btn_orange.custom_btn.btn_big_custom{href: surveys_path(id: @survey.id), method: :get, "data-toggle" => "tooltip", id: "btn_save_answer"} Back
