.col-xs-12.no_padding
  .row.answer_text.add_margin_top_20
    %p.font_size_16{style: "font-weight: 100"} #{survey.description}

.no_padding
  - questions.each do |question|
    = render partial: "surveys/answers/answer_question", locals: {question: question}
