.row.answer_form
  .col-lg-12.col-xs-12.text-center.add-margin-top-45.no_padding
    .close_survey
      %span.color_survey_red Scenariu inchis
  .row
    .col-xs-12.col-lg-12.text-center.add-margin-bottom-40
      %img.answer_logo_shop{src: @logo_url, class: ("hidden" if @logo_url.blank?)}
