.row.background_white
  .col-lg-12.col-xs-12.text-center.add-margin-top-45
    .sent_survey
      %span Scenariu trimis
  .row.answer_form
    .col-xs-12.col-lg-12.text-center.bottom_buttons_bar_answer_survey.no_padding
      %a.btn.btn-default.custom_btn.btn_big_custom.btn_orange#btn_save_answer{href: fill_survey_member_survey_path, method: :get, "data-toggle" => "tooltip"}
        Inapoi
      .row
        .col-lg-12.col-xs-12.text-center.add-margin-bottom-40
          %img.answer_logo_shop{src: @logo_url, class: ("hidden" if @logo_url.blank?)}
