.row
  .col-12.no_padding_left
    = link_to "Pagina principala", root_path, :method => :get, class: "top_link_grey"
    %i.fa.fa-chevron-right.color_grey
    %span.color_purple Brosurile mele
.col-lg-12.add_margin_top_20#survey_index_container
  - if @brochures.blank?
    Nu exista brosuri
  - else
    - @brochures.each do |brochure|
      .row.add_margin_top_10.add_padding_bottom_10.border_custom.add_padding_top_15
        .col-xs-12.col-lg-3
          %h4.bold{style: "width: 500px"}
            #{brochure.title}
        .col-xs-2.col-lg-2.d-flex.flex-column{style: "padding-top: 5px"}
          %span #{@brochures_member[brochure.id].try(:created_at).try(:strftime, "%d/%m/%Y")}
          %span{style: "font-size:11px; font-style: italic; color: lightgray;"} Primit
        .col-xs-3.col-lg-3.d-flex.flex-column{style: "padding-top: 5px"}
          %span #{brochure.try(:author) || "Claudia Rus"}
          %span{style: "font-size:11px; font-style: italic; color: lightgray;"} Autor
        .col-xs-12.col-lg-2
          %a.fa.fa-edit.font_size_30.pull-right.add_margin_right_15.link-black{href: brochure_fill_in_path(brochure), method: :get, "data-toggle" => "tooltip", style: "font-size:30px!important"}
          %a.fa.fa-eye.color_purple.font_size_30.pull-right.add_margin_right_15{href: brochure_path(brochure), method: :get, "data-toggle" => "tooltip"}




:javascript
  window.crm.surveys.init();
  window.crm.new_design_shared.applyCustomScrollbar("#survey_index_container");
