.row.orders.custom_name.add-margin-top-20
  .col-xs-12.col-sm-4
    %h3.page-title
      BROSURI
  .col-xs-12
    .page-title
.col-lg-12.add_margin_top_20#survey_index_container
  - if @brochures.blank?
    Nu exista borsuri
  - else
    - @brochures.each do |brochure|
      .row.add_margin_top_10.add_padding_bottom_10.border_custom.add_padding_top_15
        .col-xs-12.col-lg-3
          %h4.bold{style: "width: 500px"}
            #{brochure.title}
        .col-xs-12.col-lg-3.d-flex.flex-column
          #{brochure.try(:author) || "Claudia Rus"}
          %p.color_gray Autor
        .col-xs-12.col-lg-3
          #{@brochures_member[brochure.id].try(:created_at).try(:strftime, "%d/%m/%Y")}
          %p.color_gray Data primire
        .col-xs-12.col-lg-2
          %a.fa.fa-edit.font_size_30.pull-right.add_margin_right_15.link-black{href: brochure_fill_in_path(brochure), method: :get, "data-toggle" => "tooltip", style: "font-size:30px!important"}
          %a.fa.fa-eye.color_purple.font_size_30.pull-right.add_margin_right_15{href: brochure_path(brochure), method: :get, "data-toggle" => "tooltip"}




:javascript
  window.crm.surveys.init();
  window.crm.new_design_shared.applyCustomScrollbar("#survey_index_container");
